@import "tailwindcss";

@theme {
  /* Adicionando sua paleta de cores aqui */
  --color-pink: #E61E64;
  --color-id: #00A9A4;
  --color-bg: #F9F9F9;
  --color-bg-secondary: #F7F6F1;
  --color-gray: #4A4A4A;
  --color-coffe: #38271D;
  --color-secundary: #FFD100;

  
   --font-primary: "Quicksand";
   --font-secondary: "Pacifico";
   --font-third: "DM Serif Display";
}