@import "tailwindcss";

@theme {
  /* Adicionando sua paleta de cores aqui */
  --color-pink: #E61E64;
  --color-id: #00A9A4;
  --color-bg: #F9F9F9;
  --color-text: #4A4A4A;
  --color-secundary: #FFD100;

  
   --font-primary: "Quicksand";
   --font-second: "Pacifico";
}